[submodule "taelgar"]
	path = taelgar
	url = https://github.com/tsackton/taelgar
[submodule "taelgarverse-site-generator"]
	path = taelgarverse-site-generator
	url = https://github.com/tsackton/taelgarverse-site-generator
